.wrapper {
  /* border: 2px solid rebeccapurple; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(255, 177, 177);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wrapper h1 {
  /* border: 2px solid red; */
  flex-basis: 100%;
  font-size: 4rem;
  height: 60px;
  text-align: center;
}

.container {
  display: flex;
  gap: 80px;
}